# Secrets
.env

# Python
venv/
__pycache__/
*.pyc

# Project Data (Heavy Files - Ignoring to save GitHub Storage)
backend/pdfs/
backend/data/
backend/rag_index/
*.faiss
*.pkl

# Streamlit
.streamlit/

# OS
Thumbs.db
.DS_Store
